@import "tailwindcss";

:root {
    /* https://colorffy.com/dark-theme-generator?colors=F07F7F-121212 */

    /** Base colors */
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    /** Theme primary colors */
    --clr-primary-a0: #7f81f0;
    --clr-primary-a10: #8f8ef2;
    --clr-primary-a20: #9f9cf4;
    --clr-primary-a30: #ada9f6;
    --clr-primary-a40: #bcb7f8;
    --clr-primary-a50: #cac5fa;

    /** Theme surface colors */
    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;
    --clr-surface-a30: #575757;
    --clr-surface-a40: #717171;
    --clr-surface-a50: #8b8b8b;

    --radius: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    background: var(--clr-dark-a0);
    color: white;
}

header {
    background: var(--clr-surface-a0);
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    padding: 12px;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    z-index: 999;
}

header nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 8px;
}